@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.dothrakiTranslatorWebPart {
  .dothrakiTranslatorWebPartContainer {
    margin: 5px;
    padding: 60px;
    label {
      font-weight: 200;
      font-size: 25px;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
      margin-bottom: 50px;
    }
    button {
      height: 50px;
      width: 50px;
    }
  }
}